.moviecardflex {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
}

.search {
  display: flex;
  align-items: center;
  width: 70%;
  border-radius: 60px;
  margin-bottom: 3rem;
  border: 1px solid;
}

.search svg {
  margin-left: 1rem;
  margin-right: 1rem;
}

input {
  font-size: 3rem;
  font-family: 'Clash Display';
  color: white;
  outline: none;
  background: transparent;
  border: none;
  flex: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.arrow-svg {
  margin: 0 1rem;
}
