.movieinfobox {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  gap: 3rem;
}

.movieinfo {
  margin-top: 2rem;
}

.movieimage img {
  height: 500px;
  border-radius: 20px;
  margin-right: 3rem;
  height: 70vh;
}

.movieinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 50%;
}

.movieinfo h1 {
  font-weight: 600;
  font-size: 4.5rem;
  margin: 0;
}

.director {
  text-align: right;
  margin-top: 0;
}

.movieinfo h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

.movieinfo h3 {
  font-weight: 500;
  font-size: 0.8rem;
}

.movieinfo {
  font-weight: 600;
}

.rating-container {
  width: 15vh; /* Adjust the size as needed */
  margin-top: 5rem;
}
