.global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  width: 70%;
  font-size: 6rem;
  font-weight: 600;
  margin: 5rem auto 0;
}

.button {
  text-decoration: none;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
  width: 13rem;
  background: black;
  border-radius: 30px;
  height: 3rem;
  opacity: 0; /* Start with opacity 0 */
  animation: slideIn 1s ease forwards; /* Animation declaration */
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
