.Header-container {
  text-decoration: none;
  margin-left: 5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
}

.Link:hover {
  text-decoration: underline;
}
.Link {
  text-decoration: none;
  color: white;
  margin: auto;
}

.Linkhome {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}

.links {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 7rem;
}
